.bodyColor{
  background-color: #CEE5D0;
}
a {
text-decoration: none !important;
  }
.navbar-home-alogin{
  border-radius: 30%;
  background-color: orange;
/* padding: 2rem; */
margin-bottom: 0.5rem;
}
/* Navigation Bar */


 .login-btn{
    padding: 9px 35px;
    background-color: #ACFFAD;
    border: none;
    border-radius: 50px;
    /* font-size: 1.5rem; */
    /* padding: 1rem; */
    cursor: pointer;
 }
.login-btn:hover{
     background-color: #71EFA3;
     /* color: black; */
 }
 .big-heading {
   font-family: "Montserrat-Black";
   font-size: 3.5rem;
   line-height: 1.5;}
.title-image {
     width: 70%;
     /* transform: rotate(25deg); */
     position: absolute;
     right: 20%;
   }

/* end of nav hospital website */
.ta{
  text-align: center;
  padding: 3rem;
}
/* carousel in home */
.carousel .item {
  height: 100px;
}

.item img {
    position: absolute;
    top: 0;
    left: 0;
    min-height: 300px;
}
/* carousel in home  */
/* contact */
.contact-margin{
  margin-bottom: 5rem;
  text-align: center;

}
.address{
  text-align: center;
  color: #212529;
  font-family: sans-serif;
}
.fcp{
  font-size: 1.5rem;
}
.colored-section{
  background-color: #FEE2C5;
  color: #001D6E;
  padding: 2rem 0;
  margin: 3rem 0;
}
.contact-h{
  font-size: 1.5rem;
  padding-bottom: 1rem;
  font: 40px Montserrat;
  color: #000;
}
.bot-pad{
  padding-bottom: 1rem;
}
/* end of contact */
.about-hos{
  font-size: 1.5rem;
  color: #54436B;
}
.al-p{
  text-align: center;
padding: 3rem 0;
margin: 2rem 0;
}
/*home*/

.Home-bg{
  background-color: #C4DDFF
}
.divider:after,
.divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
}
.h-custom {
  height: calc(100% - 73px);
}

/*navbar*/

.logout-pad{
  padding-right: 2rem;
}
.brand-pad{
  padding-top: 0.5rem;
  padding-left: 2rem;
}
.btn-round {
  display:block;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: 1px solid red;

}
hr{
  position: relative;
        top: 20px;
        border: none;
        height: 12px;
        background: black;
        margin-bottom: 50px;
}
/* homeMenu */
.menu-color{
  color: #001D6E;
  position: relative;
          top: 20px;
          border: none;
          height: 12px;
          background: black;
          margin-bottom: 50px;}
.nav-item{
  color: #001D6E

}
/* .nav.navbar.navbar-expand-lg.navbar-light.bg-light.py-0{
  margin-bottom: 0px;

} */
/* .navbar {
  margin-top: 20px;
  padding-top: 10px;
  border-radius: 10px;
  margin-bottom: 0px;

}*/
/* .navbar.nav-link{
  color: #001D6E
} */
.nav-c{
  color: white
  /* #001D6E */

}
.navbar.nc{
  background-color: #354259

}

/* .nc{
  background-color: blue

} */
/*login*/
html {
  background-color: #56baed;
}

body {
  font-family: "Poppins", sans-serif;
  height: 100vh;
  background-color: #CEE5D0;
  /* text-align:center;
                  position: relative; */


}

.la {
  /* color: white; */
  /* color: black; */
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}

input[type=button], .submitInput, input[type=reset]  {
  background-color: #56baed;
  border: none;
  color: white;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 20px 40px 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

input[type=button]:hover, .submitInput:hover, input[type=reset]:hover  {
  background-color: #39ace7;
}

input[type=button]:active, .submitInput:active, input[type=reset]:active  {
  -moz-transform: scale(0.95);
  -webkit-transform: scale(0.95);
  -o-transform: scale(0.95);
  -ms-transform: scale(0.95);
  transform: scale(0.95);
}

.textInput,.passwordInput,.emailInput,.numberInput {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}
/* .textInputB {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
} */
.remove-pad .col-sm-7{
  padding: 0px;
  /* margin-left: 1rem */
}
.remove-pad .col-sm-5{
  padding: 0px;
  margin-left: 1rem

}

.textInput:focus,.passwordInput:focus,.emailInput:focus,.numberInput:focus {
  background-color: #fff;
  border-bottom: 2px solid #5fbae9;
}

.textInput:placeholder,.textPassword:placeholder,.emailInput:placeholder,.numberInput:placeholder {
  color: #cccccc;
}
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}


*:focus {
    outline: none;
}

#icon {
  width:20%;
  margin-bottom: 3rem;
  margin-top: -2rem;
}
.center{
  position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
margin: auto;
}


/*form1*/
#form1Content {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
margin-top: 5rem;
  width: 60%;
  /* max-width: 950px; */
  position: relative;
  /* padding-bottom: 30px; */
  /* padding-top: 30px;
  padding-left: 1rem;
  padding-right: 1rem; */
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  /* text-align: center; */
}
.upperForm1Content{
  padding-top: 30px;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 30px;
}
.formInput{
  /* background-color: #f6f6f6; */
  /* border: none; */
  color: #0d0d0d;
  padding: 3px 10px;
  /* text-align: center; */
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
   /* width: 85%; */
  /* border: 2px solid #f6f6f6; */
  /* -webkit-transition: all 0.5s ease-in-out; */
  /* -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px; */
  border-radius: 5px 5px 5px 5px;

}
.bottom-shade{
    box-shadow: 1px 1px 3px 1px #008E89;

}
.formLable4{
  padding: 3px 0.2px;
  margin: 3px;
  font-size: 1.2rem;

}
.formLable{
  padding: 3px 10px;
  margin: 5px;
  font-size: 1.2rem;

}
.space{
  margin: 1rem 0;
}
.form-check.form-check-inline{
  margin: 0px 16px 0 0;
}
.nextButton{
  background-color: #0A1931;
  color: White;
}
.header{
  font-size: 25px;
  /* font-family: sans-serif; */
  color:white;
  /* #161E54;*/
  text-align: left;
  padding-top: 25px;
  /* style={{backgroundColor: "#CEE5D0"}} */
}
.foot .btn{
  /* background-color: #0A1931; */
  background-color: #06113C;
  /* 06113C */
  color: White;
  font-size:1.2rem;
  margin: 0 1rem;
}
.foot .btn:hover{
  color: White;
}
.foot a{
  color: White;
}
.foot a:hover{
  color: White;
}
/*verticle line in form 4*/
.vl{
border-left: 3px solid #008E89;
height: 1010px ;
position: absolute;
left: 50%;
margin-left: -20px;
top: 10;

}

.pre{
  color: #0d0d0d;
  text-decoration: none;
  display: inline-block;
  padding: 15px;
  width: 70%;
  border: 2px  #f6f6f6;
  font-size: 15px;
  background-color: #f6f6f6;
  text-align: center;
}

.suf{
  color: #0d0d0d;
  text-decoration: none;
  display: inline-block;
  padding: 15px;
  width: 15%;
  border: 2px  #f6f6f6;
  font-size: 10px;
  background-color: #f6f6f6;
  text-align: left;
}

.suff{
  text-align: left;
}

.dis{
  background-color: #008E89;
  border: none;
  color: white;

}

.has-text-centered{
  color: red;
}

.textInput1 {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 10px;
  text-align: center;
  display: inline-block;
  font-size: 15px;
  width: 40%;
  border: 2px solid #f6f6f6;
 /* -webkit-transition: all 0.5s ease-in-out;*/
  /*-moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;*/
  /*-webkit-border-radius: 5px 5px 5px 5px;*/
  /*border-radius: 5px 5px 5px 5px;*/
}


.right-align{
 display: flex;
 justify-content: flex-end;


}

.left-align{
 display: flex;
 justify-content: flex-start;
}

.sn-mar{
  margin-right: 10px;
  background-color: #008E89;
  color: white;
}

.dropdown_align{
  padding: 3px 10px ;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  color: #0d0d0d;
  border-radius: 5px 5px 5px 5px;
  border: 2px solid ;
}

.service_align{
  padding: 3px 10px ;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  color: #0d0d0d;
  border-radius: 5px 5px 5px 5px;
  border: 2px solid ;
}

.x{
  padding-left: 0px;
}


/* .la {
  color: #92badd;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
} */
/* superDash */

 .for-btn .color{
   color: #06113C;
  background-color: #F8F8F8;
}
/* .card-title{
  background-color: #CEE5D0;
} */
span{
  margin: 0 3rem
}
.view-align{
  float: right;
}
.right-align{
  display: flex; justify-content: flex-end;
}
.for-btn .btn{
background-color: rgb(219, 230, 253);
/* color: White; */
  font-size:1rem;
  margin: 0 1rem;
}
/* insert */
.insert-pad{
  padding: 1.3rem;
}
/* scroll */

.scrollbar-ripe-malinka::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-color: #F5F5F5;
    border-radius: 10px;

}

.scrollbar-ripe-malinka::-webkit-scrollbar {
    width: 12px;
    background-color: #F5F5F5;

}

.scrollbar-ripe-malinka::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
    background-image: -webkit-linear-gradient(330deg, #f093fb 0%, #f5576c 100%);
    background-image: linear-gradient(120deg, #f093fb 0%, #f5576c 100%);


}
.example-1 {
    position: relative;
    overflow-y: scroll;
    height: 400px;
    width: 6000px;
}

.example-2 {
    position: absolute;
    overflow-y: scroll;
    /* overflow-x: scroll; */

    height: 500px;
    /* width: 200%; */
}

@media (max-width: 450px) {
  .h-custom {
    height: 100%;
  }
  #form1Content{
    width: 100%;
  }
  .noSpace{
    margin: 0;
  }
}



/*     UI      */
/* input[type=text] {
   width: 30%; */
   /* padding: 12px 20px; */
   /* margin: 5px 12px;
   box-sizing: border-box;
   border: 2px solid grey;
   border-width:0px 0px 3px 0px;
} */
/* input[type=text]:focus {
   outline:none;
   border: 2px solid grey;*/
   /* border-image: linear-gradient(to right, #DEAFDB 0%, #EFB9AD 100%) 1; */
   /* border-width:0px 0px 3px 0px;
}  */

.input-icons i {
           position: absolute;
       }

       .input-icons {
           width: 100%;
           margin-bottom: 10px;
       }

       .icon {
           padding: 10px;
           color: #14C38E;
           /* min-width: 50px; */
           text-align: center;
       }

       .input-field {
            width: 30%;
            padding: 12px;
            text-align: center;
            box-sizing: border-box;
            border: 2px solid #14C38E;
            border-width:0px 0px 3px 0px;
        }


/*     UI      */
